<div class="container">

  <!-- Contact Section Heading -->
  <div class="container-title">
    <p class="container-title-text">CONTACT</p>
    <i class="fa fa-address-book container-title-icon" aria-hidden="true"></i>
  </div>
  
  <div class="container-contact">
    <div class="row">
      <div class="col-6 text-center">
        <p>Contact me directly:</p>
        <p>Whatsapp: +593981056704         
          <a class="mx-1" href="https://bit.ly/2ZD4YaH" target="_blank" title="Whatssap">
            <i class="fab fa-whatsapp"></i>
          </a>
        </p>
        <p>Email: jorge_rivera122@hotmail.com</p>
      </div>
      <div class="col-6 text-center">
        <p>Check my profiles:</p>
        <a class="mx-1" href="https://www.linkedin.com/in/jorge-rivera-0151a41b2/" target="_blank" title="Linkedin">
          <i class="fab fa-fw fa-linkedin-in"></i>
        </a>
        <a class="mx-1" href="https://github.com/Jorge12293" target="_blank" title="GitHub">
          <i class="fab fa-fw fa-github"></i>
        </a> 
      </div>
    </div>
  </div>

<!-- 
  <div class="row contacto box">
    <div class="col-12 col-lg-6">
      <div class="cardContacto">
        <div class="container">
          <div class="row">
            <div class="col-2 col-sm-4 text-right">
              <i class="fas fa-envelope iconoContacto"></i>
            </div>
            <div class="col-10 col-sm-8 text-left">
              <h4>Email: </h4>
              <p> jorge_rivera122@hotmail.com </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="cardContacto">
        <div class="container">
          <div class="row">
            <div class="col-2 col-sm-4 text-right">
              <i class="fas fa-phone-alt iconoContacto"></i>
            </div>
            <div class="col-10 col-sm-8 text-left">
              <h4>Phone: </h4>
              <p> 4040222 - 0981056704 </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class=" col-12">
      <div class="cardContacto">
        <h3>SOCIAL NETWORKS</h3>
        <a class="mx-1" href="https://www.linkedin.com/in/jorge-rivera-0151a41b2/" target="_blank" title="Linkedin">
          <i class="fab fa-fw fa-linkedin-in"></i>
        </a>
        <a class="mx-1" href="https://bit.ly/2ZD4YaH" target="_blank" title="Whatssap">
          <i class="fab fa-fw fa-whatsapp"></i>
        </a>
        <a class="mx-1" href="https://github.com/Jorge12293" target="_blank" title="GitHub">
          <i class="fab fa-fw fa-github"></i>
        </a>  
      </div>
    </div>
    
    <div class="col-12">
      <div class="cardContacto">
          <h3>DOWNLOAD</h3>
          <a class="btn btn-info btn-sm" href="https://drive.google.com/file/d/10sErnOzBg-n2VZDBo6Z6O6PVbuYbEFaJ/view" target="_blank">
            <i class="fas fa-download"></i>
            Curriculum Vitae
          </a>
      </div>
    </div>
  </div> -->

      
</div>

