<div class="container">

  <!-- Contact Section Heading -->
  <div class="container-title">
    <p class="container-title-text">CONTACT</p>
    <i class="fa fa-address-book container-title-icon" aria-hidden="true"></i>
  </div>
  
  <div class="container-contact">
    <div class="row">
      <div class="col-12 col-lg-6 text-center">
        <div class="d-flex align-items-center justify-content-center">
          <p class="contact-title">Contact me directly</p>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <div class="content contact-text">
            <p>
              Whatsapp: +593981056704         
              <a class="mx-1" href="https://bit.ly/2ZD4YaH" target="_blank" title="Whatssap">
                <i class="fab fa-whatsapp"></i>
              </a>
            </p>
            <p>
              Email: jorge_rivera122@hotmail.com <i class="fas fa-envelope iconoContacto"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 text-center">
        <div class="d-flex align-items-center justify-content-center">
          <p class="contact-title">Check my profiles</p>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <div class="content contact-text">
            <a class="mx-1" href="https://www.linkedin.com/in/jorge-rivera-0151a41b2/" target="_blank" title="Linkedin">
              <i class="fab fa-fw fa-linkedin-in"></i>
            </a>
            <a class="mx-1" href="https://github.com/Jorge12293" target="_blank" title="GitHub">
              <i class="fab fa-fw fa-github"></i>
            </a>
          </div>
        </div>    
      </div>
    </div>
  </div>      
</div>

