.container-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px 15px;
    padding-top: 30px;
    margin-bottom: 40px;
    box-shadow: 6px 6px 13px 1px rgba(22, 21, 21, 0.5);
}

.container-title-text{
    font-weight: bold;
    font-size: 40px;
    font-family: Arial, sans-serif;
}

.container-title-icon{
    font-size: 40px;
}

.container-contact{
    color: white;
    background-color: #2d2d3a;
    box-shadow: 6px 6px 13px 1px rgba(22, 21, 21, 0.5);
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 90px;
    margin-bottom: 120px;
}

.contact-title{
    color: black;
    font-weight: bold;
    border-radius: 10px;
    background-color: white;
    box-shadow: 6px 6px 13px 1px rgba(147, 147, 147, 0.8);
    padding: 8px 15px;
    width: 60%;
}


.contact-text{
    color: white;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 6px 6px 13px 1px rgba(147, 147, 147, 0.8);
    padding: 20px 15px;
    margin: 20px 20px;
    width: 60%;
}

.fa-whatsapp{
    font-size: 20px;
    padding: 0px;
}
.fa-envelope{
    color: orange;
}