<div class="container" style="margin-top:40px;">
  <div class="container-title">
    <p class="container-title-text">SKILLS</p>
    <i class="fa fa-cogs container-title-icon" aria-hidden="true"></i>
  </div>

  <table class="table table-light table-striped box-technologies">
    <thead>
      <tr>
        <th colspan="2" class="text-thead">Technologies</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-bordered">
        <th scope="row" class="card-technology">
          <div class="card-technology-text" style="background-color: rgb(7, 159, 4);">
            Frontend
          </div>
        </th>
        <td>
          <div class="container-card">
            <div class="card-skill text-center" style="background-color: red;">
              <p> <strong>Angular</strong></p>
              <p><small> Framework </small></p>
            </div>
            <div class="card-skill text-center" style="background-color: rgb(79, 190, 238);">
              <p> <strong>React</strong></p>
              <p><small> Library</small></p>
            </div>
          </div>
        </td>
      </tr>
      <tr class="table-bordered">
        <th scope="row" class="card-technology">
          <div class="card-technology-text" style="background-color: gray;">
            Backend
          </div>
        </th>
        <td>
          <div class="container-card">
            <div class="card-skill text-center" style="background-color: green;">
              <p> <strong>Spring</strong></p>
              <p><small>Java  </small></p>
            </div>
            <div class="card-skill text-center" style="background-color: orangered;">
              <p> <strong>NestJs</strong></p>
              <p><small>JavaScript</small></p>
            </div>
            <!-- <div class="card-skill text-center" style="background-color: rgb(0, 115, 255);">
              <p> <strong>ASP.Net Core</strong></p>
              <p><small>C#</small></p>
            </div><div class="card-skill text-center" style="background-color: rgb(255, 64, 0);">
              <p> <strong>Laravel</strong></p>
              <p><small>Php</small></p>
            </div> -->
          </div>
        </td>
      </tr>
      <tr class="table-bordered">
        <th scope="row" class="card-technology">
          <div class="card-technology-text" style="background-color: rgb(4, 79, 159);">
            Mobile App
          </div>
        </th>
        <td>
          <div class="container-card">
            <div class="card-skill text-center" style="background-color: rgb(70, 154, 243);">
              <p> <strong>Flutter</strong></p>
              <p><small> Cross Platform </small></p>
            </div>
            <div class="card-skill text-center" style="background-color: rgb(26, 113, 205);">
              <p> <strong>React Native</strong></p>
              <p><small> Cross Platform  </small></p>
            </div>
          </div>
        </td>
      </tr>
      <tr class="table-bordered">
        <th scope="row" class="card-technology">
          <div class="card-technology-text" style="background-color: rgb(219, 110, 26);">
            Database
          </div>
        </th>
        <td>
          <div class="container-card">
            <div class="card-skill text-center" style="background-color: rgb(89, 96, 222);">
              <p> <strong>Mysql</strong></p>
              <p><small>Relational</small></p>
            </div>
            <div class="card-skill text-center" style="background-color: rgb(16, 117, 225);">
              <p> <strong>PostgreSqL</strong></p>
              <p><small>Relational</small></p>
            </div>
            <div class="card-skill text-center" style="background-color: rgb(245, 187, 62);">
              <p> <strong>Firestore</strong></p>
              <p><small>No Relational</small></p>
            </div>
            <!-- <div class="card-skill text-center" style="background-color: rgb(2, 155, 33);">
              <p> <strong>MongoDB</strong></p>
              <p><small>No Relational</small></p>
            </div> -->
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>