<img  class="imagenSecundaria" src="assets/img/briefcase-background2.jpg"> 
<div class="container" style="margin-top:40px;">  
  <!-- Portfolio Section Heading -->
  <div class="container-title">
    <p class="container-title-text">PROJECTS</p>
    <i class="fa fa-briefcase container-title-icon" aria-hidden="true"></i>
  </div>

  <!-- Portfolio Grid Items -->
  <div class="row container-project">
    <!-- Portfolio Item FACTURA -->
    <div class="col-md-6 col-lg-4">
      <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
          <div class="portfolio-item-caption-content text-center text-white">
            INVOICE <br> 
            <i class="fas fa-search-plus fa-3x" title="Ver Descripción"></i>
          </div>
        </div>
        <img class="img-fluid" src="assets/img/portfolio/fondo_factura.png" alt="">
      </div>
    </div>

    <!-- Portfolio Item COVID -->
    <div class="col-md-6 col-lg-4">
      <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
          <div class="portfolio-item-caption-content text-center text-white">
            COVID-19 <br>   
            <i class="fas fa-search-plus fa-3x" title="Ver Descripción"></i>
          </div>
        </div>
        <img class="img-fluid" src="assets/img/portfolio/fondo_covid.png" alt="">
      </div>
    </div>


    <!-- Portfolio Item Web Restaurant -->
    <div class="col-md-6 col-lg-4">
      <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModalWebRestaurant" data-backdrop="static" data-keyboard="false">
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
          <div class="portfolio-item-caption-content text-center text-white">
            Web Restaurant <br>   
            <i class="fas fa-search-plus fa-3x" title="Ver Descripción"></i>
          </div>
        </div>
        <img class="img-fluid" src="assets/img/portfolio/resturant_web.png" alt="">
      </div>
    </div>

    <!-- Portfolio Item APP FLUTTER -->
    <div class="col-md-6 col-lg-4">
      <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModalPedidosApp" data-backdrop="static" data-keyboard="false">
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
          <div class="portfolio-item-caption-content text-center text-white">
            PedidosApp <br>   
            <i class="fas fa-search-plus fa-3x" title="Ver Descripción"></i>
          </div>
        </div>
        <img class="img-fluid" src="assets/img/portfolio/fondo_app.png" alt="">
      </div>
    </div>


    <!-- Ingles App -->
    <div class="col-md-6 col-lg-4">
      <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioAppIngles" data-backdrop="static" data-keyboard="false">
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
          <div class="portfolio-item-caption-content text-center text-white">
            APP ENGLISH <br>   
            <i class="fas fa-search-plus fa-3x" title="Ver Descripción"></i>
          </div>
        </div>
        <img class="img-fluid" src="assets/img/portfolio/app_ingles.png" alt="">
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioAppMovie" data-backdrop="static" data-keyboard="false">
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
          <div class="portfolio-item-caption-content text-center text-white">
            APP MOVIE DB <br>   
            <i class="fas fa-search-plus fa-3x" title="Ver Descripción"></i>
          </div>
        </div>
        <img class="img-fluid" src="assets/img/portfolio/app_movie.png" alt="">
      </div>
    </div>


    <!-- Portfolio Item TIENDA -->
    <div class="col-md-6 col-lg-4">
      <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioOnlineStore" data-backdrop="static" data-keyboard="false">
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
          <div class="portfolio-item-caption-content text-center text-white">
            ONLINE STORE <br>   
            <i class="fas fa-search-plus fa-3x" title="Ver Descripción"></i>
          </div>
        </div>
        <img class="img-fluid" src="assets/img/portfolio/fondo_tienda.png" alt="Store">
      </div>
    </div>

  </div>

</div>

  <!-- Portfolio Modals -->
  <!-- Portfolio Modal APP MOVIE-->
  <div class="portfolio-modal modal fade" id="portfolioAppMovie" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-window-close"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <!-- Portfolio Modal - Title -->
                  <h2 class="portfolio-modal-title text-secondary text-uppercase mb-3">APP MOVIE DB</h2>
                  <hr>
                </div>
  
                <div class="col-12 col-md-12 col-lg-6">
                   <!-- Portfolio Modal - Image -->
                   <img class="img-fluid img-proyecto rounded mb-5" src="assets/img/portfolio/app_react_movie.png" alt="">
                </div>
                <div class="col-12 col-md-12 col-lg-6 text-left">
                  
                  <h5>DESCRIPTION</h5> 
                    <p>Application that consumes services of the free movie db api made in react native.</p>
                    
                  <div class="row">
                    <div class="col-12 col-md-12 col-lg-6">
                      <h5>USED TECHNOLOGY</h5>
                      <ul> 
                        <li>REACT NATIVE</li>
                      </ul>	
                    </div>
                    <div class="col-12 col-md-12 col-lg-6">
                    </div>
                  </div>
                  </div>
                  <div class="col-12">
                    <a class="btn badge-dark" 
                      target="_blank"
                      href="https://github.com/Jorge12293/ReactNative_appMovie">
                      <i class="fas fa-search-plus"></i>
                      GITHUB
                    </a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal FACTURA -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-window-close"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-3">INVOICE</h2>
                <hr>
              </div>

              <div class="col-12 col-md-12 col-lg-6">
                 <!-- Portfolio Modal - Image -->
                 <img class="img-fluid img-proyecto rounded mb-5" src="assets/img/portfolio/fondo_factura.png" alt="">
              </div>
              <div class="col-12 col-md-12 col-lg-6 text-left">
                <h5>DESCRIPTION</h5> 
                <p>This project is about an invoice that allows obtaining information in JSON, XML and CSV formats.
                   In addition the project is multiple language is configured for Spanish, English and German.
                   It is a system configured with Spring Security which allows greater security.	 </p>
                
                <div class="row">
                  <div class="col-12 col-md-12 col-lg-6">
                    <h5>USED TECHNOLOGY</h5>
                    <ul> 
                      <li>Sprig Framework</li>
                      <li>Thymeleaf</li>
                      <li>JPA</li>
                      <li>REST</li>
                      <li>H2</li>
                      <li>Bootstrap</li>
                    </ul>	
                  </div>
                </div>
                </div>

                <div class="col-12">
                  <a class="btn badge-dark" 
                    target="_blank"
                    href="https://github.com/Jorge12293/facturacion-v1">
                    <i class="fas fa-search-plus"></i>
                    GITHUB
                  </a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

     <!-- Portfolio Modal APP INGLES-->
     <div class="portfolio-modal modal fade" id="portfolioAppIngles" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <i class="fas fa-window-close"></i>
            </span>
          </button>
          <div class="modal-body text-center">
            <div class="container">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <!-- Portfolio Modal - Title -->
                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-3">APP ENGLISH</h2>
                    <hr>
                  </div>
    
                  <div class="col-12 col-md-12 col-lg-6">
                     <!-- Portfolio Modal - Image -->
                     <img class="img-fluid img-proyecto rounded mb-5" src="assets/img/portfolio/app_ingles2.png" alt="">
                  </div>
                  <div class="col-12 col-md-12 col-lg-6 text-left">
                    
                    <h5>DESCRIPTION</h5> 
                      <p>Basic English application to learn English published on google play.</p>
                      
                    <div class="row">
                      <div class="col-12 col-md-12 col-lg-6">
                        <h5>USED TECHNOLOGY</h5>
                        <ul> 
                          <li>Flutter</li>
                        </ul>	
                      </div>
                      <div class="col-12 col-md-12 col-lg-6">
                      </div>
                    </div>
                    </div>
                    <div class="col-12">
                      <a class="btn badge-success" 
                        target="_blank"
                        href="https://play.google.com/store/apps/details?id=com.riyarysoft.appbasicvocabulary">
                        <i class="fas fa-search-plus"></i>
                        Google Play
                      </a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Portfolio Modal COVID -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <i class="fas fa-window-close"></i>
            </span>
          </button>
          <div class="modal-body text-center">
            <div class="container">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <!-- Portfolio Modal - Title -->
                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-3">Covid-19</h2>
                    <hr>
                  </div>
    
                  <div class="col-12 col-md-12 col-lg-6">
                     <!-- Portfolio Modal - Image -->
                     <img class="img-fluid img-proyecto rounded mb-5" src="assets/img/portfolio/fondo_covid.png" alt="">
                  </div>
                  <div class="col-12 col-md-12 col-lg-6 text-left">
                    <h5>DESCRIPTION</h5> 
                      <p>The page devedsá+f.loped in Angular consumes API-WUHAN-COVID services.
                        It also presents different graphs to evaluate the cases of different
                        countries and a map to know where that country is located.</p>
                
                    
                    <div class="row">
                      <div class="col-12 col-md-12 col-lg-6">
                        <h5>USED TECHNOLOGY</h5>
                        <ul> 
                          <li>Angular</li>
                          <li>Leaflet</li>
                          <li>Ngx-Charts</li>
                          <li>Bootstrap</li>
                        </ul>	
                      </div>
                      <div class="col-12 col-md-12 col-lg-6">
                      </div>
                    </div>
                    </div>
                    <div class="col-12">
                      <a class="btn badge-success" 
                        target="_blank"
                        href="https://covid19-7b475.web.app/home">
                        <i class="fas fa-search-plus"></i>
                        VIEW PROJECT
                      </a>
                      <a class="btn badge-dark" href="https://github.com/Jorge12293/Angular_covid19">
                        <i class="fas fa-search-plus"></i>
                        GITHUB
                      </a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Portfolio Modal PedidosApp -->
    <div class="portfolio-modal modal fade" id="portfolioModalPedidosApp" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" id='video1'>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            onclick="cerrarVideo1()">
            <span aria-hidden="true">
              <i class="fas fa-window-close"></i>
            </span>
          </button>
          <div class="modal-body text-center">
            <div class="container">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <!-- Portfolio Modal - Title -->
                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-3">PedidosApp</h2>
                    <hr>
                  </div>
    
                  <div class="col-12 col-md-12 col-lg-6">
                     <!-- Portfolio Modal - Image -->
                     <iframe width="100%" height="100%"
                     class="img-proyecto" 
                     src="https://www.youtube.com/embed/DKewp8LuGpI" 
                     title="YouTube video player" frameborder="0" 
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                     allowfullscreen>
                    </iframe>
                  </div>
                  <div class="col-12 col-md-12 col-lg-6 text-left">
                    <h5>DESCRIPTION</h5> 
                        <p>App developed in Flutter uses the realtime database of firebase 
                        allowing to obtain the orders instantly. It also allows you to save
                        the shipping location of the order.</p>
                    
                    <div class="row">
                      <div class="col-12 col-md-12 col-lg-6">
                        <h5>USED TECHNOLOGY</h5>
                        <ul> 
                          <li>Flutter</li>
                          <li>Firebase Realtime</li>
                          <li>Google Maps</li>
                          <li>FL Chart</li>
                        </ul>	
                      </div>
                      <div class="col-12 col-md-12 col-lg-6">
             
                      </div>
                    </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

        <!-- Portfolio Modal StoreOnline -->
    <div class="portfolio-modal modal fade" id="portfolioOnlineStore" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" id='video2'>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            onclick="cerrarVideo2()">
            <span aria-hidden="true">
              <i class="fas fa-window-close"></i>
            </span>
          </button>

          <div class="modal-body text-center">
            <div class="container">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <!-- Portfolio Modal - Title -->
                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-3">Store Online</h2>
                    <hr>
                  </div>
    
                  <div class="col-12 col-md-12 col-lg-6">
                      <!-- Portfolio Modal - Image -->           
                    <iframe width="100%" height="100%"
                      class="img-proyecto" 
                      src="https://www.youtube.com/embed/O63jgLkwBEs" 
                      title="YouTube video player" frameborder="0" 
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                      allowfullscreen>
                    </iframe>
                  
                  </div>
                  <div class="col-12 col-md-12 col-lg-6 text-left">
                    <h5>DESCRIPTION</h5> 
                        <p>The basic page is developed in JSP allows you to register users 
                        with different roles, save products and sell the products.</p>
                    
                    <div class="row">
                      <div class="col-12 col-md-12 col-lg-6">
                        <h5>USED TECHNOLOGY</h5>
                        <ul> 
                          <li>JSP(JAVA)</li>
                          <li>PostgreSQL</li>
                          <li>Bootstrap</li>
                        </ul>	
                      </div>
                      <div class="col-12 col-md-12 col-lg-6">
                      </div>
                    </div>
                    </div>
                    <!--
                      <div class="col-12">
                        <a class="btn badge-success" href="https://covid19-7b475.web.app/home">
                          <i class="fas fa-search-plus"></i>
                          VIEW PROJECT
                        </a>
                      </div>
                    -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Portfolio Modal Restaurant Web -->
    <div class="portfolio-modal modal fade" id="portfolioModalWebRestaurant" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" id='video3'>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            onclick="cerrarVideo3()">
            <span aria-hidden="true">
              <i class="fas fa-window-close"></i>
            </span>
          </button>

          <div class="modal-body text-center">
            <div class="container">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <!-- Portfolio Modal - Title -->
                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-3">Web Restaurant</h2>
                    <hr>
                  </div>
    
                  <div class="col-12 col-md-12 col-lg-6">
                     <!-- Portfolio Modal - Image -->           
                    <iframe width="100%" height="100%"
                      class="img-proyecto" 
                      src="https://www.youtube.com/embed/Kwd4UyCBDvU" 
                      title="YouTube video player" frameborder="0" 
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                      allowfullscreen>
                    </iframe>
                 
                  </div>
                  <div class="col-12 col-md-12 col-lg-6 text-left">
                    <h5>DESCRIPTION</h5> 
                        <p>The basic page is developed in React JS allows you to register orders,
                          save customers, save products and sell the products.</p>
                    
                    <div class="row">
                      <div class="col-12 col-md-12 col-lg-6">
                        <h5>USED TECHNOLOGY</h5>
                        <ul> 
                          <li>React JS</li>
                          <li>Firebase (Realtime Database)</li>
                          <li>Bootstrap</li>
                        </ul>	
                      </div>
                      <div class="col-12 col-md-12 col-lg-6">
                      </div>
                    </div>
                    </div>
                    <!--
                      <div class="col-12">
                        <a class="btn badge-success" href="https://covid19-7b475.web.app/home">
                          <i class="fas fa-search-plus"></i>
                          VIEW PROJECT
                        </a>
                      </div>
                    -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
