<!-- Header -->
<header class="masthead text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-4 d-none d-md-block">
                <div class="view">
                    <div class="plane main">
                      <div class="circle"></div>
                      <div class="circle"></div>
                      <div class="circle"></div>
                      <div class="circle"></div>
                      <div class="circle"></div>
                      <div class="circle"></div>
                    </div>
                </div>          
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div class="container-presentation-img text-center animate__animated animate__fadeIn">
                    <img class="masthead-avatar mb-2" src="assets/img/FOTO.jpg" alt="">
                    <p id="typing-effect" class="card-title mb-5"> SOFTWARE DEVELOPER </p>
                </div>
                <div class="container-presentation animate__animated animate__fadeIn">
                    <div class="card-presentation">
                        <p class="card-description">
                          Passionate software developer skilled in creating technological solutions. Focused on developing intuitive, efficient, and visually appealing applications. Constantly seeking challenges and opportunities to innovate in the world of software development and provide solutions that meet user needs.
                        </p>
                    </div>
                </div> 
            </div>

        </div>
    </div>
</header>

